#user-search-box {
  background-color: #645df1;
  width: 400px;
  height: 400px;
  margin: 100px auto;
  padding: 16px;
  border-radius: 16px;
  overflow: hidden;
}

@media (max-width: 576px) {
  #user-search-box {
    width: 300px;
  }
}

input {
  padding: 8px 10px;
  min-width: 200px;
  border-radius: 10px;
}

.user-list {
  margin-top: 10px;
  overflow-y: auto;
  height: inherit;
}

.user-item {
  background-color: #ccc;
  border-radius: 10px;
  text-align: left;
  padding: 4px;
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
}
